.community {
  padding: 4rem 0;

  .community-links {
    background: #F5F2FF;
    padding: 3rem 10px 1rem;

    .subtitle {
      color: #1F0359;
      font-weight: bolder;
    }
  }

  .banner-title {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4rem;
    line-height: 3.2rem;

    background: -webkit-linear-gradient(313.09deg, #000F99, #F60FDF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .divide {
    height: 2px;
    background: linear-gradient(92.98deg, rgba(212, 206, 223, 0) -42.96%, rgba(0, 15, 153, 0.61) 48.07%, #F60FDF 73.69%, rgba(246, 15, 223, 0.1) 93.66%);
    width: 90%;
    margin: 3rem auto 1rem;
  }

  .subtitle {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    display: block;
  }

  p {
    font-size: 1.2rem;
    margin: auto;
  }

  .cards-container {
    list-style: none;
    margin: 2rem 0 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .card-wrapper {
      width: 25%;
      min-width: 210px;
      margin: 1rem;

      .card {
        -webkit-transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
        transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
        transition: transform .5s cubic-bezier(.19, 1, .22, 1);
        transition: transform .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
        -webkit-transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);

        // box-shadow: 0 8px 40px -16px rgba(12,22,44,.32);
        display: flex;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        //border-width: 1px;
        //border-color: #e7e8ea;
        //border-radius: 8px;
        //background-color: #fff;

        span {
          font-size: 1rem;
          color: #1e1e1e;
        }

        svg {
          color: #1F0359;
          font-size: 3rem;
          margin-right: 10px;
        }

        .title {
          display: flex;
          align-items: center;
          font-weight: bolder;
        }

        .subtitle {
          color: #1F0359;
          letter-spacing: 0.5px;
          font-weight: normal;
          font-size: 0.9rem;

          svg{
            font-size: 0.9rem;
          }
        }

        &:hover {
          -webkit-transform: translate(0, -8px);
          -ms-transform: translate(0, -8px);
          transform: translate(0, -8px);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 0;

    .subtitle{
      text-align: center;
    }
  }
}