.contact-form {
  margin: 4rem 0;
  padding-bottom: 6rem;

  .form-container{
    width: 100%;
  }

  .details {
    padding: 0 2rem;

    .detail {
      display: block;
      font-size: 1.2rem;
      color: #1e1e1e;
      margin: 1rem 0;
    }

    h5 {
      font-weight: lighter;
      font-size: 1.6rem;
      margin-bottom: 0;
      margin-top: 3rem;
    }

    h4 {
      font-weight: lighter;
      font-size: 2rem;
    }
  }


  input, textarea {
    border-left: #919394 solid 2px;
    background: #fafafa;
    border: 0 none;
    border-left: 2px solid #ccc;
    border-bottom: 1px solid #E8E8E8;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin: 6px 0;
    padding: 15px;
    width: 100%;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #919394;
    font-size: 13px;
    opacity: 1; /* Firefox */
  }
}