.future {
  padding: 4rem 0;

  .image-container{
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 2.4rem;
  }

  .subtitle{
    margin-bottom: 1rem;
    font-weight: 600;
  }

  p {
    font-size: 1rem;
  }

  .text {
    padding: 0 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 0;

    img{
      display: none;
    }
  }
}