.footer {
  margin: 4rem 0;
  padding: 2rem 0;
  background: #F5F2FF;

  img{
    margin-bottom: 1rem;
    width: 250px;
  }

  .footer-space{
    height: 4rem;
    display: block;
  }

  ul {
    list-style: none;
    font-size: 1rem;
    margin: 0 0 2rem;
    padding: 0;

    li {
      margin: 0 0.5rem;
      cursor: pointer;
      transition: opacity 0.3s ease-out;
      font-weight: 500;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    a {
      color: #1F0359;

      &:hover, &:focus {
        color: #1F0359;
      }

      svg {
        margin-right: 10px;
        font-size: 1rem;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    text-align: center;
    margin-top: 0;

    ul{
      justify-content: center;
    }

    .info{
      flex-flow: column;
    }
  }
}