@font-face {
  font-family: "Eudoxus";
  src: url("../../fonts/EudoxusSans-Regular.woff") format('woff');
}

@font-face {
  font-family: "Eudoxus";
  src: url("../../fonts/EudoxusSans-Bold.woff") format('woff');
  font-weight: 600;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../../fonts/EudoxusSans-Medium.woff") format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../../fonts/EudoxusSans-ExtraBold.woff") format('woff');
  font-weight: 800;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../../fonts/EudoxusSans-Light.woff") format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../../fonts/EudoxusSans-ExtraLight.woff") format('woff');
  font-weight: 200;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1E0451;
  font-family: Eudoxus, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";

  background: linear-gradient(45deg, rgba(145,66,224,0.1) 0%, rgba(121,9,81,0) 50%, rgba(240,66,111,0.1) 100%) fixed;


  @media only screen and (max-width: 768px) {
    background-attachment: fixed;
  }
}

a {
  color: #442A78;
  -webkit-text-decoration-skip: objects;
  transition: opacity ease 0.4s;
}

a:active,
a:hover {
  outline-width: 0;
  color: #442A78;
}

h1 {
  padding: 0;
  margin: 0 0 1.45rem;
  font-size: 3rem;
  color: inherit;
  font-weight: bolder;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

img {
  border-style: none;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

h2 {
  padding: 0;
  margin: 0 0 1.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.5rem;
  line-height: 1.1;
}

h3 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

h4 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}

h6 {
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

p {
  padding: 0;
  margin: 0 0 1.45rem;
  color: #442A78;
  font-size: 1rem;
  line-height: 180%;
}

strong {
  font-weight: bold;
}

li, span, strong{
  line-height: 180%;
}

h1, h2, h3, h4, h5, h6 {
  color: #1F0359;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.privacyPage, .termsPage{
  padding: 6rem 1rem;
  a{
    font-weight: 600;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
