.aboutBanner {
  padding: 6rem 0;
  .text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 2rem;
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    padding: 6rem 0 2rem;
  }
}