.aboutDescription {
  padding: 0 0 6rem;
  text-align: center;

  p{
    padding: 0 10px;
    max-width: 800px;
    margin: auto;
  }

  h2{
    padding: 0 1rem;
  }

  @media screen and (max-width: 768px) {
    text-align: left;
  }
}