.aboutInvestors {
  padding: 2rem 0 20rem;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .investorContainer {
    display: inline-flex;
    margin: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .investor {
    padding: 1rem 2rem;
    box-shadow: 0 8px 40px -16px rgba(12, 22, 44, .32);
    margin: 1rem;
    background: #6b54ff;
    color: #fafafa;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 320px;

    .title {
      font-size: 2rem;
    }

    .description {
      font-size: 1rem;
    }
  }
}