.whyCerberus {
  padding: 4rem 0;

  .smaller{
    width: 80%;
    margin: auto;
    display: block;
  }

  .text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    padding: 0 1rem;
  }

  h2 {
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    padding: 2rem 0;

    img{
      margin-bottom: 1rem!important;
    }

    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) {
    .desktop {
      display: block;
    }
    .mobile {
      display: none;
    }
  }
}